
<div class="show">

  <div class= "notice">
    <%= flash[:notice] %>
  </div>

  <p>
    <strong>title:</strong><%= @book.title %>
  </p>
  <p>
    <strong>Body:</strong><%= @book.body %>
  </p>

  <span>
    <%= link_to "edit", edit_book_path(@book.id) %> |
    <%= link_to "back", "/books" %>
  </span>

</div>
